@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img{
  width: 32px;
  transform: translateY(0.5em);
}

.profile-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .profile-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1280px){
  .profile-container {
    max-width: 30%;
  }
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

.hidden {
  visibility: hidden;
}
